/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

/* Common CSS */
seciton{
    clear: both;
}
section .inner{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
section:nth-last-of-type(even){
    background-color:#fafafa;
}
.download-spec a{
    display: block;
    background-color: dodgerblue;
    width: 170px;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    margin:  10px auto;
}
.download-spec span{
    display: block;
}
seciton h2{
    font-size: 36px;
    font-weight: normal;
}
.gototop{
    position: fixed;
    right: 20px;
    bottom:20px;
    
}
.gototop .fa{
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    cursor: pointer;
    background-color: white;
    transition:0.3s;
}
.gototop .fa:hover{
    background-color: black;
    color: white;
}

/* Header Area */
header{
    background-color: crimson;
    height: 90px;
    line-height: 90px;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
}
nav{
    border: 1px solid black;
    width: 1100px;
    margin: auto;
}
.logo{
    float: left;
    padding-top: 20px;
}
.logo img{
    height: 45px;
}
.navi{
    float: right;
}
.navi a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    margin: 7px;
}

/* Section : Welcome */
section.welcome{
    padding:80px 0;
}
section.welcome h1{
    font-size: 46px;
    font-weight: normal;
}
section.welcome img{
    margin-top: 20px;
}

/* Section : Usage */
section.usage{}
section.usage .sub_inner{
    /* border: 1px solid black; */
    width: 800px;
    margin: auto;
    overflow: hidden;
}
section.usage .sub_inner div{
    /* border:1px solid black; */
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding: 15px;
}

/* Section : Continue */
section.continue p{
    padding: 0 100px;
}
section.continue img{
    margin-top: 50px;
}

/* Section : Create */
section.create p{
    padding: 0 100px;
}
section.create img{
    margin-top: 50px;
}

/* Section : Download */
section.download .inner div{
    display: inline-block;
    height: 400px;
    vertical-align: middle;
}
section.download{
    padding-top: 80px;
}