@media(max-width: 768px){
  /* Common CSS */
  section{
    padding: 0 25px !important;
  }
  .inner{
    width: 100%;
    flex-direction: column;
  }
  .inner > div{
    text-align: center;
  }
  .feature.smart .photo,
  .feature.edit .photo{
    order: 2;
  }
  section.feature{
    padding: 25px 0;
  }
  .desc{
    padding: 0 20px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .desc h1{
    font-size: 26px;
    line-height: 1.5em;
  }

  /* Header */
  header .btn-download{
    width: 150px;
  }

  /* Section: Welcome */
  .heading{
    width: 80%;
  }
  .heading h1{
    font-size: 32px;
    line-height: 1.5em;
  }
  .download-content span,
  .statics{
    display: none;
  }
  .next-section{
    transform: translateX(-50%) scale(0.8);
  }

  /* Section: Callaction */
  section.callaction{
    background-image: url('images/download-bg-mobile.svg');
    padding-top: 80px !important;
  }
  section.callaction h1{
    font-size: 26px;
  }

  /* Footer */
  footer{
    padding: 0 20px;
  }
  .footer-inner{
    width: 100%;
  }

  /* Sitemap */
  .link-items{
    flex-direction: column;
  }
  .link-item-title{
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    pointer-events: all;
  }
  .link-item-title:after{
    content: '\e942';
    font-family: xeicon;
    position: absolute;
    right: 10px;
    transition: 0.35s;
  }
  .link-item-title.active:after{
    transform: rotate(180deg);
  }
  .link-item-content{
    display: none;
  }

   /* Copyright */
   .copyright{
     text-align: center;
     border: none;
     padding-top: 0;
   }
   .logo-footer{
     width: 100%;
   }
    .policy,
    .language{
      float: none;
    }
    .policy{
      margin-bottom: 20px;
      /* border: 5px solid red; */
    }
    .policy a{
      margin: 2px;
      font-size: 14px;
    }
 
}