@media (max-width:768px){
  body{
    font-size: 16px;
  }

  /* Common CSS */
  section{
    /* border: 5px solid red; */
    padding: 20px;
  }

  /* Header */
  header{
    padding: 35px 20px;
  }
  .logo img{
    width: 120px;
  }
  .signin button{
    font-size: 14px;
  } 
  
  /* Section : Welcome */
  .welcome{
    height: 100vh;
  }

  /* Heading */
  .heading{
    width: 100%;
    /* border: 5px solid red; */
    padding: 0 22px;
  }
  .heading h1{
    font-size: 34px;
    margin-bottom: 20px;
  }
  .heading p{
    font-size: 16px;
  }
  aside p {
    font-size: 20px;
  }

  /* Get Started */
  .getstarted{
    width: 95%;
  }
  .getstarted input[type=email]{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
  }
  .getstarted button{
    font-size: 16px;
    width: 40%;
    height: 40px;
  }

  /* Section: Enjoy, Download, Watch, Create */
  .enjoy, .download, .watch, .create{
    height: auto;
  }
  .inner{
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 50px;
  }

  /* Change Order */
  .download .inner,
  .create .inner {
    /* border: 10px solid purple; */
  }
  .download .inner .desc{
    order: 1;
  }
  .create .inner .desc{
    order: 1;
  }
  .download .inner .preview{
    order: 2;
  }
  .create .inner .preview{
    order: 2;
  }

  .preview img{
    width: 100%;
    height: auto;
  }
  .desc h2{
    font-size: 30px;
  }

  /* Section : FAQ */
  .faq{
    padding: 50px;
  }
  .faq-inner{
    /* border: 5px solid yellowgreen; */
    width: 100%;
  }
  .faq-inner h1{
    font-size: 30px;
    line-height: 1.3em;
  }
  input[name=faq-item] + label span{
    font-size: 26px;
  }

  /* Footer */
  footer{
    /* border: 5px solid dodgerblue; */
    padding: 50px 20px;
    text-align: center;
  }
  .footer-inner{
    width: 100%;
  }
  .items{
    width: 48%;
    /* border: 5px solid mediumspringgreen; */
    margin-bottom: 20px;
  }

  /* Login Modal */
  .login{
    width: 100%;
    height: auto;
    padding: 40px;
  }
}